HW_8/WebStore.WebUi/WebStore.WebUi/Service References/service/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WebStore.Domain.DataContracts.Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WebStore.Domain.DataContracts.Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfProductDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductDataContract" nillable="true" type="tns:ProductDataContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductDataContract" nillable="true" type="tns:ArrayOfProductDataContract" />
  <xs:complexType name="ProductDataContract">
    <xs:sequence>
      <xs:element name="Category" nillable="true" type="xs:string" />
      <xs:element name="Count" type="xs:int" />
      <xs:element minOccurs="0" name="Descriptions" nillable="true" type="xs:string" />
      <xs:element name="Id" type="xs:int" />
      <xs:element name="IsDeleted" type="xs:boolean" />
      <xs:element name="Name" nillable="true" type="xs:string" />
      <xs:element name="Price" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductDataContract" nillable="true" type="tns:ProductDataContract" />
  <xs:complexType name="ArrayOfCategoryDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CategoryDataContract" nillable="true" type="tns:CategoryDataContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCategoryDataContract" nillable="true" type="tns:ArrayOfCategoryDataContract" />
  <xs:complexType name="CategoryDataContract">
    <xs:sequence>
      <xs:element name="Id" type="xs:int" />
      <xs:element name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CategoryDataContract" nillable="true" type="tns:CategoryDataContract" />
  <xs:complexType name="ArrayOfUserDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserDataContract" nillable="true" type="tns:UserDataContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserDataContract" nillable="true" type="tns:ArrayOfUserDataContract" />
  <xs:complexType name="UserDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="Age" type="xs:int" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserDataContract" nillable="true" type="tns:UserDataContract" />
</xs:schema>