HW_8/WebStore.WebUi/WebStore.WebUi/Service References/AuthenticationService/AuthenticationService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WebStore.Domain.DataContracts.Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WebStore.Domain.DataContracts.Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfGroupDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GroupDataContract" nillable="true" type="tns:GroupDataContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGroupDataContract" nillable="true" type="tns:ArrayOfGroupDataContract" />
  <xs:complexType name="GroupDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GroupDataContract" nillable="true" type="tns:GroupDataContract" />
  <xs:complexType name="ArrayOfUserDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserDataContract" nillable="true" type="tns:UserDataContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserDataContract" nillable="true" type="tns:ArrayOfUserDataContract" />
  <xs:complexType name="UserDataContract">
    <xs:sequence>
      <xs:element name="Group" nillable="true" type="xs:string" />
      <xs:element name="Id" type="xs:int" />
      <xs:element name="IsDeleted" type="xs:boolean" />
      <xs:element name="Name" nillable="true" type="xs:string" />
      <xs:element name="Password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserDataContract" nillable="true" type="tns:UserDataContract" />
</xs:schema>