HW_6/WebStore.WebUi/WebStore.WebUi/Service References/service/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WebStore.Domain.DataContracts.Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WebStore.Domain.DataContracts.Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfProductDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductDataContract" nillable="true" type="tns:ProductDataContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductDataContract" nillable="true" type="tns:ArrayOfProductDataContract" />
  <xs:complexType name="ProductDataContract">
    <xs:sequence>
      <xs:element name="Category" nillable="true" type="xs:string" />
      <xs:element name="Count" type="xs:int" />
      <xs:element minOccurs="0" name="Descriptions" nillable="true" type="xs:string" />
      <xs:element name="Id" type="xs:int" />
      <xs:element name="IsDeleted" type="xs:boolean" />
      <xs:element name="Name" nillable="true" type="xs:string" />
      <xs:element name="Price" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductDataContract" nillable="true" type="tns:ProductDataContract" />
</xs:schema>