HW_8/WebStore.WebUi/WebStore.WebUi/Service References/OrderService/OrderService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WebStore.Domain.DataContracts.Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WebStore.Domain.DataContracts.Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="OrderDataContract">
    <xs:sequence>
      <xs:element name="Id" type="xs:int" />
      <xs:element name="OrderDate" type="xs:dateTime" />
      <xs:element name="OrderPrice" type="xs:decimal" />
      <xs:element name="User" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderDataContract" nillable="true" type="tns:OrderDataContract" />
  <xs:complexType name="ArrayOfOrderDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderDataContract" nillable="true" type="tns:OrderDataContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderDataContract" nillable="true" type="tns:ArrayOfOrderDataContract" />
  <xs:complexType name="ArrayOfOrderDetailsDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderDetailsDataContract" nillable="true" type="tns:OrderDetailsDataContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderDetailsDataContract" nillable="true" type="tns:ArrayOfOrderDetailsDataContract" />
  <xs:complexType name="OrderDetailsDataContract">
    <xs:sequence>
      <xs:element name="Id" type="xs:int" />
      <xs:element name="OrderId" type="xs:int" />
      <xs:element name="Product" nillable="true" type="xs:string" />
      <xs:element name="Quantity" type="xs:int" />
      <xs:element name="TotalPrice" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderDetailsDataContract" nillable="true" type="tns:OrderDetailsDataContract" />
</xs:schema>